@model List<CatalogoModel>
@{
    ViewData["Title"] = "CatalogoLector";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- INCLUIR ESTE LINK Y SCRIPTS PARA BOOTSTRAP -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!-- hojas de estilos siempre tienen que estar (reset, root y navbaar footer) y una extraque es la de la pagina como tal-->
    <link rel="stylesheet" href="~/css/reset.css">
    <link rel="stylesheet" href="~/css/root.css">
    <link rel="stylesheet" href="~/css/navbarFooter.css">
    <link rel="stylesheet" href="~/css/layoutVer.css">
    <link href="~/css/font.css" rel="stylesheet" />
</head>

<body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <div class="container-fluid">
            <!-- IMAGEN EN LA QUE SE HACE CLICK PARA REGRESAR A HOME -->
            <a class="navbar-brand" asp-action="HomeLectores" asp-controller="AdministradorLector"><img class="logoStyles logoHover" src="~/assets/img/UnibibloLogo.svg" alt=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>

    <main class="album py-5 ">
        <div id="contenedorCatalogo">
            <!-- FOR EACH PARA DESPLEGAR LOS LIBROS -->
            @foreach (var item in Model)
            {
                <div class="card shadow-sm contenedorIndividual">
                    <div class="bg-dark contenedorTexto">
                        <p class="textStyle">@item.Nombre</p>
                        <p class="textStyle">@item.Autor</p>
                    </div>

                    <div class="card-body p-2 contenedorNiv1">
                        <div class="contenedorNiv3">
                            <div>
                                <div class="contenedorNiv4">
                                    <p class="cardTextStyle px-0">Año publicacion</p>
                                    <div></div>
                                    <small class="">@item.anioPublicacion</small>
                                </div>
                                <div class="contenedorNiv4">
                                    <p class="cardTextStyle px-0">Grupo Libro</p>
                                    <div></div>
                                    <small class="">@item.grupoLibro</small>
                                </div>
                                <div class="contenedorNiv4">
                                    <p class="cardTextStyle px-0">tipo Identificador</p>
                                    <div></div>
                                    <small class="">@item.tipoIdentificador</small>
                                </div>
                                <div class="contenedorNiv4">
                                    <p class="cardTextStyle px-0">Estado</p>
                                    <div></div>
                                    <small class="">@item.estado</small>
                                </div>
                            </div>
                        </div>

                        <div class="contenedorNiv2 ">
                            <!-- BOTON PRESTAR -->
                            <form class="btn-group">
                                <a asp-action="PrestamosLectores" asp-controller="AdministradorLector" asp-route-id="@item.idLibro" class="btn btn-sm btn-outline-secondary">Prestar</a>
                            </form>
                            <small class="text-muted">Stock: @item.enStock</small>
                        </div>
                    </div>
                </div>
            }
        </div>


    </main>
    <footer class="bg-dark p-2 ">
        <div>
            Todos los derechos reservados &copy;
        </div>
    </footer>


    <!-- SCRIPTS BOOTSTRAP -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>

