@model List<CatalogoModel>
@{
    ViewData["Title"] = "InventarioVerLibrosAdminiestrador";

}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- INCLUIR ESTE LINK Y SCRIPTS PARA BOOTSTRAP -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!-- hojas de estilos siempre tienen que estar (reset, root y navbaar footer) y una extraque es la de la pagina como tal-->
    <link rel="stylesheet" href="~/css/reset.css">
    <link rel="stylesheet" href="~/css/root.css">
    <link rel="stylesheet" href="~/css/navbarFooter.css">
    <link rel="stylesheet" href="~/css/layoutVer.css">
    <link href="~/css/font.css" rel="stylesheet" />
    <!-- CSS Tabla Extraido de : https://datatables.net -->
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.5/css/dataTables.bootstrap5.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <title>Ver Libros</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <div class="container-fluid">
            <!-- IMAGEN EN LA QUE SE HACE CLICK PARA REGRESAR A HOME -->
            <a class="navbar-brand" asp-action="HomeAdministrador" asp-controller="AdministradorLector"><img class="logoStyles logoHover" src="~/assets/img/UnibibloLogo.svg" alt=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- LISTA DE BOTONES ( CATALOGO, USUARIOS, GESTION DE INVENTARIO, REPORTERIA )-->
            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <ul class="navbar-nav me-auto ">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle navbarHoverStyles" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Catalogo
                        </a>
                        <!-- DROPDOWN DE USUARIOS (CON SUS RESPECTIVAS ACCIONES) -->
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" asp-action="Catalogo" asp-controller="Catalogo">Catalogo</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle navbarHoverStyles" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Usuarios
                        </a>
                        <!-- DROPDOWN DE USUARIOS (CON SUS RESPECTIVAS ACCIONES) -->
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" asp-action="VerUsuariosLectoresAdministrador" asp-controller="AdministradorLector">Ver Usuarios Lectores</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" asp-action="UsuariosVerColaboradoresAdministrador" asp-controller="AdministradorLector">Ver Colaboradores</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle navbarHoverStyles" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Gestion de inventario
                        </a>
                        <!-- DROPDOWN DE GESTION DE INVENTARIO (CON SUS RESPECTIVAS ACCIONES) -->
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" asp-action="NuevoEjemplaresAgregarAdministrador" asp-controller="AdministradorLector">Agregar nuevos ejemplares</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" asp-action="NuevoAreaTematicaAdministrador" asp-controller="AdministradorLector">Agregar area tematica</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" asp-action="NuevoGrupoAdministrador" asp-controller="AdministradorLector">Agregar grupo libro</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" asp-action="InventarioVerLibrosAdministrador" asp-controller="AdministradorLector">Ver libros</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" asp-action="InventarioVerGrupoLibrosAdministrador" asp-controller="AdministradorLector">Ver grupos Libros</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" asp-action="InventarioVerAreaTematicaAdministrador" asp-controller="AdministradorLector">Ver Area Tematica</a></li>

                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle navbarHoverStyles" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Reporteria
                        </a>
                        <!-- AQUI ESTA EL DROPDOWN DE REPORTERIA (CON SUS RESPECTIVAS ACCIONES) -->
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" asp-action="ReporteriaDevolucionGeneralAdministrador" asp-controller="AdministradorLector">Deudores</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" asp-action="ReporteriaDeudoresAdministrador" asp-controller="AdministradorLector">Usuarios Eliminados</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" asp-action="ReporteriaReporteGeneralAdministrador" asp-controller="AdministradorLector">Reporte general</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main id="mainContenedor">
        <div class="my-5">
            <h1 class="py-3">Libros</h1>
            <!-- TABLA PARA VER LA BASE DE DATOS -->
            <div class="card p-4">
                <table id="example" class="table table-striped" style="width:100%">

                    <!--
                       AGREGAR LOS NOMBRES DE LAS COLUMNAS DE LA BASE DE DATOS

                       TAMBIEN CAMBIAR LOS NOMBRES EN EL "TFOT", SE ENCUENTRA DESPUES DEL "TBODY"
                    -->

                    <thead>
                        <tr>
                            <th>Id Libro</th>
                            <th>Nombre</th>
                            <th>Autor</th>
                            <th>Año Publicacion</th>
                            <th>Grupo Libro</th>
                            <th>En Stock</th>
                            <th>Estado</th>
                            <th>Tipo de identificador</th>
                            <th>Id Area</th>
                            <th>Modificar</th>
                        </tr>
                    </thead>
                    <tbody>

                        <!--
                        AQUI (dentro del tbody) VA EL FOR EACH PARA MOSTRAR LOS DATOS DE LA BASE DE DATOS
                        BORRAR TODOS LOS TR DE EJEMPLO
                        -->
                        @foreach (var item in Model)
                         {
                        <tr>
                            <td>@item.idLibro</td>
                            <td>@item.Nombre</td>
                            <td>@item.Autor</td>
                            <td>@item.anioPublicacion</td>
                            <td>@item.grupoLibro</td>
                            <td>@item.enStock</td>
                            <td>@item.estado</td>
                            <td>@item.tipoIdentificador</td>
                            <td>@item.idArea</td>
                                <td><a asp-action="ModificarEjemplaresAdministrador" asp-controller="AdministradorLector" class="btn btn-primary btn-sm" asp-route-idlibro="@item.idLibro"><i class="bi bi-pen"> Editar</i></a></td>
                        </tr>
                         }

                    </tbody>

                    <!--
                       AGREGAR LOS NOMBRES DE LAS COLUMNAS DE LA BASE DE DATOS
                    -->
                    <tfoot>
                        <tr>
                            <th>Id Libro</th>
                            <th>Nombre</th>
                            <th>Autor</th>
                            <th>Año Publicacion</th>
                            <th>Grupo Libro</th>
                            <th>En Stock</th>
                            <th>Estado</th>
                            <th>Tipo de identificador</th>
                            <th>Id Area</th>
                            <th>Modificar</th>
                        </tr>
                    </tfoot>

                </table>
            </div>
        </div>
    </main>

    <footer class="bg-dark p-2 ">
        <div>
            Todos los derechos reservados &copy;
        </div>
    </footer>
    <!-- SCRIPTS BOOTSTRAP -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- JS Tabla Extraido de : https://datatables.net -->
    <script defer src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script defer src="https://cdn.datatables.net/2.0.5/js/dataTables.js"></script>
    <script defer src="https://cdn.datatables.net/2.0.5/js/dataTables.bootstrap5.js"></script>
    <script defer src="~/js/Tabla.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
