@model List<ListadoPrestamos>
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- INCLUIR ESTE LINK Y SCRIPTS PARA BOOTSTRAP -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!-- hojas de estilos siempre tienen que estar (reset, root y navbaar footer) y una extraque es la de la pagina como tal-->
    <link rel="stylesheet" href="~/css/reset.css">
    <link rel="stylesheet" href="~/css/root.css">
    <link rel="stylesheet" href="~/css/navbarFooter.css">
    <link rel="stylesheet" href="~/css/layoutVer.css">
    <link href="~/css/font.css" rel="stylesheet" />
    <!-- CSS Tabla Extraido de : https://datatables.net -->
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.5/css/dataTables.bootstrap5.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <title>Ver Usuarios</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <div class="container-fluid">
            <!-- IMAGEN EN LA QUE SE HACE CLICK PARA REGRESAR A HOME -->
            <a class="navbar-brand" asp-action="HomeLectores" asp-controller="AdministradorLector"><img class="logoStyles logoHover" src="~/assets/img/UnibibloLogo.svg" alt=""></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>

    <main id="mainContenedor">
        <div class="my-5">
            <h1 class="py-3">Mis Prestamos</h1>
            <!-- TABLA PARA VER LA BASE DE DATOS -->
            <div class="card p-4">
                <table id="example" class="table table-striped" style="width:100%">

                    <!--
                       AGREGAR LOS NOMBRES DE LAS COLUMNAS DE LA BASE DE DATOS

                       TAMBIEN CAMBIAR LOS NOMBRES EN EL "TFOT", SE ENCUENTRA DESPUES DEL "TBODY"
                    -->

                    <thead>
                        <tr>
                            <th>Id del libro</th>
                            <th>Correo del solicitante</th>
                            <th>Nombre del Libro</th>
                            <th>Fecha de Prestamo</th>
                            <th>Fecha de Finalizacion</th>
                            <th>Devolver</th>
                        </tr>
                    </thead>
                    <tbody>

                        <!--
                        AQUI (dentro del tbody) VA EL FOR EACH PARA MOSTRAR LOS DATOS DE LA BASE DE DATOS
                        BORRAR TODOS LOS TR DE EJEMPLO
                        -->
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.idLibro</td>
                                <td>@item.correo</td>
                                <td>@item.nombreLibro</td>
                                <td>@item.fechaCreacion</td>
                                <td>@item.fechaFinalizacion</td>
                                <td><a asp-action="DevolucionesLectores" asp-controller="AdministradorLector" asp-route-correo="@item.correo" class="btn btn-primary btn-small" asp-route-id="@item.idLibro">Editar</a></td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
        </div>
    </main>

    <footer class="bg-dark p-2 ">
        <div>
            Todos los derechos reservados &copy;
        </div>
    </footer>
    <!-- SCRIPTS BOOTSTRAP -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- JS Tabla Extraido de : https://datatables.net -->
    <script defer src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script defer src="https://cdn.datatables.net/2.0.5/js/dataTables.js"></script>
    <script defer src="https://cdn.datatables.net/2.0.5/js/dataTables.bootstrap5.js"></script>
    <script defer src="~/js/Tabla.js"></script>
</body>
</html> 